<a href="https://colab.research.google.com/github/Akshara-416/sales_prediction/blob/data_exploration/src/data/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import required libraries

In [45]:
import numpy as np
import pandas as pd
import importlib
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [3]:
import functions
importlib.reload(functions)
from functions import input_read

## Social Media Data

In [50]:
df_sm = input_read('files/social_media_data.xlsx')

Shape of social_media_data : (533390, 3)

List of columns in social_media_data : Index(['Theme Id', 'published_date', 'total_post'], dtype='object')

Datatype of columns in social_media_data :
Theme Id          float64
published_date     object
total_post          int64
dtype: object

In [51]:
df_sm.head()

   Theme Id       published_date  total_post
0     148.0  2015-01-10 00:00:00          76
1     148.0  2015-10-10 00:00:00          31
2     148.0  2015-11-10 00:00:00          65
3     148.0  2015-12-10 00:00:00          88
4     148.0           10/13/2015          85

In [52]:
df_sm['Theme Id'].nunique()

193

In [53]:
df_sm['Theme Id'].value_counts()

788.0    3223
967.0    3223
556.0    1625
26.0     1625
960.0    1625
         ...
543.0    1597
922.0    1511
634.0    1511
576.0    1511
670.0    1511
Name: Theme Id, Length: 193, dtype: int64

In [54]:
df_sm['published_date']

0         2015-01-10 00:00:00
1         2015-10-10 00:00:00
2         2015-11-10 00:00:00
3         2015-12-10 00:00:00
4                  10/13/2015
                 ...
533385    2019-05-09 00:00:00
533386    2019-06-09 00:00:00
533387    2019-07-09 00:00:00
533388    2019-08-09 00:00:00
533389    2019-09-09 00:00:00
Name: published_date, Length: 533390, dtype: object

In [55]:
df_sm['published_date'] = df_sm['published_date'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y') if type(x)==str else x)

In [56]:
df_sm['published_date']

0        2015-01-10
1        2015-10-10
2        2015-11-10
3        2015-12-10
4        2015-10-13
            ...
533385   2019-05-09
533386   2019-06-09
533387   2019-07-09
533388   2019-08-09
533389   2019-09-09
Name: published_date, Length: 533390, dtype: datetime64[ns]

In [57]:
df_sm['publish_year'] = df_sm['published_date'].apply(lambda x:x.year)
df_sm['publish_month'] = df_sm['published_date'].apply(lambda x:x.month)
df_sm['publish_week'] = df_sm['published_date'].apply(lambda x:x.isocalendar()[1])

In [58]:
df_sm

,Theme Id,published_date,total_post,publish_year,publish_month,publish_week
0,148.0,2015-01-10,76,2015,1,2
1,148.0,2015-10-10,31,2015,10,41
2,148.0,2015-11-10,65,2015,11,46
3,148.0,2015-12-10,88,2015,12,50
4,148.0,2015-10-13,85,2015,10,42
...,...,...,...,...,...,...
533385,876.0,2019-05-09,4658,2019,5,19
533386,876.0,2019-06-09,3731,2019,6,23
533387,876.0,2019-07-09,2336,2019,7,28
533388,876.0,2019-08-09,1374,2019,8,32
533389,876.0,2019-09-09,1442,2019,9,37

In [59]:
df_sm.groupby(['publish_year']).sum()['total_post']

publish_year
2015     52035240
2016    110244878
2017    142134603
2018    163379609
2019     94582691
Name: total_post, dtype: int64

## Google search data

In [60]:
df_gs = input_read('files/google_search_data.csv')

Shape of google_search_data : (181565, 6)

List of columns in google_search_data : Index(['date', 'platform', 'searchVolume', 'Claim_ID', 'week_number',
       'year_new'],
      dtype='object')

Datatype of columns in google_search_data :
date            object
platform        object
searchVolume     int64
Claim_ID         int64
week_number      int64
year_new         int64
dtype: object

In [61]:
df_gs['Claim_ID'].nunique()

160

In [62]:
df_gs['Claim_ID'].value_counts()

967    5744
576    4009
670    4003
8      3966
634    3787
       ...
125       2
681       2
433       2
514       1
606       1
Name: Claim_ID, Length: 160, dtype: int64

In [63]:
df_gs['date']

0         05-01-2014
1         06-01-2014
2         07-01-2014
3         10-01-2014
4         20-01-2014
             ...
181560    05-09-2019
181561    22-09-2019
181562    26-09-2019
181563    15-07-2019
181564    02-09-2019
Name: date, Length: 181565, dtype: object

In [64]:
df_gs['date'] = df_gs['date'].apply(lambda x: datetime.strptime(x,'%d-%m-%Y') if type(x)==str else x)

In [65]:
df_gs['search_year'] = df_gs['date'].apply(lambda x:x.year)
df_gs['search_month'] = df_gs['date'].apply(lambda x:x.month)
df_gs['search_week'] = df_gs['date'].apply(lambda x:x.isocalendar()[1])

In [66]:
# combining both

combined_df = pd.merge(df_sm,df_gs, how = 'inner', left_on =['Theme Id','publish_year','publish_week'], right_on = ['Claim_ID','search_year','search_week'])

In [68]:
combined_df.shape

(1074156, 15)

In [69]:
combined_df.head()

,Theme Id,published_date,total_post,publish_year,publish_month,publish_week,date,platform,searchVolume,Claim_ID,week_number,year_new,search_year,search_month,search_week
0,148.0,2015-01-10,76,2015,1,2,2015-01-09,google,342,148,2,2015,2015,1,2
1,148.0,2015-01-10,76,2015,1,2,2015-01-10,google,342,148,2,2015,2015,1,2
2,148.0,2015-01-11,6,2015,1,2,2015-01-09,google,342,148,2,2015,2015,1,2
3,148.0,2015-01-11,6,2015,1,2,2015-01-10,google,342,148,2,2015,2015,1,2
4,148.0,2015-01-06,2,2015,1,2,2015-01-09,google,342,148,2,2015,2015,1,2

#Value counts
    print("Value counts")
    for column in data.columns:
        print("{} : {}".format(column,data[column].value_counts()))