<a href="https://colab.research.google.com/github/Akshara-416/sales_prediction/blob/data_exploration/src/data/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import required libraries

In [ ]:
import numpy as np
import pandas as pd
import importlib
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import functions
importlib.reload(functions)
from functions import input_read

## Social Media Data

In [ ]:
df_sm = input_read('files/social_media_data.xlsx')

Shape of social_media_data : (533390, 3)

List of columns in social_media_data : Index(['Theme Id', 'published_date', 'total_post'], dtype='object')

Datatype of columns in social_media_data :
Theme Id          float64
published_date     object
total_post          int64
dtype: object

In [ ]:
df_sm.head()

   Theme Id       published_date  total_post
0     148.0  2015-01-10 00:00:00          76
1     148.0  2015-10-10 00:00:00          31
2     148.0  2015-11-10 00:00:00          65
3     148.0  2015-12-10 00:00:00          88
4     148.0           10/13/2015          85

In [ ]:
df_sm['Theme Id'].nunique()

193

In [ ]:
df_sm['Theme Id'].value_counts()

967.0    3223
788.0    3223
884.0    1625
769.0    1625
959.0    1625
         ...
543.0    1597
670.0    1511
922.0    1511
576.0    1511
634.0    1511
Name: Theme Id, Length: 193, dtype: int64

In [ ]:
df_sm['published_date']

0         2015-01-10 00:00:00
1         2015-10-10 00:00:00
2         2015-11-10 00:00:00
3         2015-12-10 00:00:00
4                  10/13/2015
                 ...
533385    2019-05-09 00:00:00
533386    2019-06-09 00:00:00
533387    2019-07-09 00:00:00
533388    2019-08-09 00:00:00
533389    2019-09-09 00:00:00
Name: published_date, Length: 533390, dtype: object

In [ ]:
df_sm['published_date'] = df_sm['published_date'].apply(lambda x: x.strftime('%m/%d/%Y') if type(x)!=str else x)

0         01/10/2015
1         10/10/2015
2         11/10/2015
3         12/10/2015
4         10/13/2015
             ...
533385    05/09/2019
533386    06/09/2019
533387    07/09/2019
533388    08/09/2019
533389    09/09/2019
Name: published_date, Length: 533390, dtype: object

## Google search data

In [ ]:
df_gs = input_read('files/google_search_data.csv')

Shape of google_search_data : (181565, 6)

List of columns in google_search_data : Index(['date', 'platform', 'searchVolume', 'Claim_ID', 'week_number',
       'year_new'],
      dtype='object')

Datatype of columns in google_search_data :
date            object
platform        object
searchVolume     int64
Claim_ID         int64
week_number      int64
year_new         int64
dtype: object

In [ ]:
df_gs['Claim_ID'].nunique()

160

In [ ]:
df_gs['Claim_ID'].value_counts()

967    5744
576    4009
670    4003
8      3966
634    3787
       ...
433       2
832       2
125       2
606       1
514       1
Name: Claim_ID, Length: 160, dtype: int64

In [ ]:
df_gs['date']

0         05-01-2014
1         06-01-2014
2         07-01-2014
3         10-01-2014
4         20-01-2014
             ...
181560    05-09-2019
181561    22-09-2019
181562    26-09-2019
181563    15-07-2019
181564    02-09-2019
Name: date, Length: 181565, dtype: object

#Value counts
    print("Value counts")
    for column in data.columns:
        print("{} : {}".format(column,data[column].value_counts()))